args==0.1.0
asgiref==3.8.1
asttokens==3.0.0
black==25.1.0
category==0.0.3
click==8.1.8
colorama==0.4.6
decorator==5.2.1
Django==5.2.3
django-phonenumber-field==8.1.0
executing==2.2.0
flake8==7.2.0
flake8-max-function-length==0.9.0
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==2.2.4
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
psycopg==3.2.4
psycopg2-binary==2.9.10
pure_eval==0.2.3
pycodestyle==2.13.0
pyflakes==3.3.2
Pygments==2.19.1
python-dotenv==1.0.1
redis==6.2.0
reverse==0.1.0
self==2020.12.3
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
wcwidth==0.2.13
